.table2-wrapper{
    margin: 50px 10px 40px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.f2-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: none;
}

.f2-table td, .f2-table th {
    text-align: center;
    padding: 8px;
}

.f2-table td {
    border-right:none;
    font-size: 12px;
    color:  #C8C8C8;
}

.f2-table thead th {
    font-weight:300;
    width:30%;
    color:  #C8C8C8;
    background: #16191f;
}


.f2-table thead th:nth-child(odd) {
    width:20%;
    color:  #C8C8C8;
    background: #16191f;
}

.f2-table tr:nth-child(even) {
    background: none;
}

/* Responsive */

@media (max-width: 767px) {
    .f2-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .f2-table thead, .f2-table tbody, .f2-table thead th {
        display: block;
    }
    .f2-table thead th:last-child{
        border-bottom: none;
    }
    .f2-table thead {
        f2oat: left;
    }
    .f2-table tbody {
        width: auto;
        position: relative;
        overf2ow-x: auto;
    }
    .f2-table td, .f2-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overf2ow-x: hidden;
        overf2ow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overf2ow: ellipsis;
    }
    .f2-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .f2-table tbody tr {
        display: table-cell;
    }
    .f2-table tbody tr:nth-child(odd) {
        background: none;
    }
    .f2-table tr:nth-child(even) {
        background:none;
    }
    .f2-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .f2-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .f2-table tbody td {
        display: block;
        text-align: center;
    }
}

.btn-link
{
    color: #C8C8C8;

}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    color:#fff;
}
 
.btn:hover
{
    color:#fff;
}

.third-content .btn
{
    width: 30px;
}

.third-content .modal-content
{
    width:700px;
    height:540px;
    word-wrap: break-word; word-break: normal;
}

.third-content .modal-header
{
    font-size: 20px;
    color:#000;
    letter-spacing: 2px;
}


.third-content .modal-body
{
    height:420px;
}

.form-control
{
    width:450px;
}

.form-group textarea
{
    height:380px;
    width:100%;
    line-height:30px;
}

.third-content .modal-footer .btn
{
    width:70px;
    color:#FFF;
    background-color: #686868;
    margin-right: 20px;
}



